#titlePanel h1 {
  margin: 10px 20px;
}
h1 a {
  font-weight: bold;
}
h1 a:hover {
  text-decoration: none;
}
.column {
  display: inline-block;
  vertical-align: top;
}
#tutorialProgress {
  height: 20px;
}
#instructionsPanel {
  height: 100px;
  overflow: scroll;
  margin: 10px 20px;
  padding: 5px;
  border: solid 1px gray;
  border-radius: 5px;
}
#tabNavContent .tab-pane {
  height: inherit;
}
.toolbar {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 15px;
  margin-right: 15px;
}
.toolbar button, .toolbar div {
  margin: 0px 4px;
}
#game {
  border: #000 solid 1px;
  margin-left: 15px;
  margin-right: 15px;
}
.fit-parent {
  width: inherit;
  height: inherit;
}
#tutorialProgress {
  padding-left: 30px;
}
.progress-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: gray solid 1px;
  border-radius: 8px;
  margin: 2px 4px;
}
.current-step {
  background-color: lightgreen;
}
.step-completed {
  background-color: green;
}
